/*Reset CSS begins*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Reset CSS ends*/


/*Helper classes begin*/


strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 20px;
}

/* Custom styles */
*{
 
}
#navbar {
    width:100%;
    background-color: #a7a7a7;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Muli', sans-serif;
   background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
    padding: 0 60px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
}
.nav-item {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    padding: 10px;
}

#navbar input{
    height: 30px;
    border-radius: 5px;
    font-size: 22px;
    border: none;
    padding-left: 5px;
}
#navbar .selected{
    color: teal;
    border-bottom: 5px teal solid;
}
.nav-item:hover{
    color: teal;
    border-bottom: 5px teal solid;
    cursor: pointer;
}
.fa-search {
    margin-left: 5px;
    height: 24px;
    color: white;
    cursor: pointer;
}

#body {
    margin-top: 80px;
    padding: 0 60px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

#title {
    font-size: 48px;
    font-weight: 700;
    padding-top: 20px;
    color: teal;
    text-align: center;
}
table {
    margin: 20px auto 0;
    width: 100%;
}
th, td {
    width: 33%;
}
td {
    border-top: black 1px solid;
    padding: 10px 0 10px 20px;
}
th {
    color: teal;
    font-size: 28px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 20px;
}
.t-row:hover {
    cursor: pointer;
    font-weight: 700;
    background-color: teal;
}
.edit-employee-name {
    text-align: center;
    padding-top: 30px;
    font-size: 48px;
    color: teal;
}
.edit-employee-title{
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}
form {
    text-align: center;
    font-size: 24px;
}
form input {
    margin-right: 30px;
}
#edit-employee button {
    font-size: 18px;
    color: white;
    background-color:teal;
    font-family: 'Muli', sans-serif;
    border: none;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;

}
button:hover {
    cursor: pointer;
}
@media only screen and (max-width: 850px) { 
    .nav-item {
        font-size: 22px;
    }
    #navbar input {
        width: 150px;
    }
}

@media only screen and (max-width: 650px) { 
    #navbar {
        height: 100px;
        padding: 0 30px;
        justify-content: center;
    }
    .nav-item {
        padding: 2 12px;
    }
    #body {
        padding: 0 30px;
    }
    th {
        font-size: 18px;
    }
    #title {
        padding-top: 30px;
        font-size: 26px;
    }
    input {
        margin-right: 10px;
        font-size: 12px;
    }
    th, td {
    padding-left: 10px
    }
    .search {
        font-size:12px;
    }
}
